.mod-preview {
  background-color: var(--bg-band-overlay);
  border-radius: $padding-sm;
  box-shadow: 0 $padding-xs 10px var(--shadow-color);
  position: relative;
  transition: top ease 300ms;
  top: 0;

  &:hover {
    top: -5px;
  }

  & > a, & > a:focus {
    color: var(--text-color);
    text-decoration: none;
  }

  img.thumbnail {
    width: 100%;
    height: auto;
    border-radius: $padding-sm $padding-sm 0 0;
  }

  .content {
    padding: $padding-md;

    h6 {
      margin-bottom: $padding-sm;
    }
  }
}