body {
  background-color: var(--bg-color);
  position: relative;
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6, p {
  &:last-child {
    margin-bottom: 0;
  }
}

.container-fluid {
  max-width: 992px;
}

code {
  color: var(--accent-color);
}
