.gradient-button {
  @extend %default-gradient;
  @extend %floating-card;

  background-color: white;
  border-color: transparent;
  color: white;
  text-decoration: none;
  position: relative;
  height: 100%;
  transition: all ease 300ms;
  top: 0;

  &:hover:not(:disabled) {
    top: -3px;
    box-shadow: 0 5px 15px var(--shadow-color);
  }
}

.clickable {
  color: $blurple;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.show-button {
  float: right;
  min-width: 80px;

  &.btn-outline-primary {
    // this is hacky but the bootstrap classes need to be overriden without flashing blue
    color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    background-color: var(--card-bg-color) !important;

    &:hover {
      background-color: var(--accent-color) !important;
      color: white !important;
    }
  }
}

.alert-success {
  color: var(--alert-success-text);
  background-color: var(--alert-success-bg);
  border: none;
}

.alert-warning {
  color: var(--alert-warning-text);
  background-color: var(--alert-warning-bg);
  border: none;
}

.alert-danger {
  color: var(--alert-danger-text);
  background-color: var(--alert-danger-bg);
  border: none;
}

.alert-primary {
  color: var(--alert-primary-text);
  background-color: var(--alert-primary-bg);
  border: none;
}
