$font-size: 16px;

body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: $font-size;
  color: var(--text-color);
}

section {
  color: var(--text-color);
}

a, a:focus {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--link-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--h-color);
  font-weight: bold;
}

h1 {
  text-shadow: 2px 2px 8px var(--shadow-color);
  font-size: 1.6 * $font-size;

  .dark-vars & {
    text-shadow: none;
  }
}

h2 {
  font-size: 1.4 * $font-size;
}

h3 {
  font-size: 1.2 * $font-size;
}

h4 {
  font-size: $font-size;
}