html {
  --bg-color: #{$off-white};
  --card-bg-color: #{white};
  --h-color: #{$blurple};
  --text-color: #{$dark-gray};
  --link-color: #{$blue};
  --shadow-color: #{transparentize($dark-gray, 0.82)};
  --danger-color: #{$red};
  --help-color: #{$red};
  --accent-color: #{$blurple};
  --accent-color-light: #{transparentize($blurple, 0.92)};
  --footer-color: #{$darker-blue};
  --secondary-footer-color: #{$dark-blue};
}