:root[data-theme="light"] {
  --bg-color: #{$off-white};
  --bg-color-darker: #{darken($off-white, 5%)};
  --nav-bg: #{transparentize($off-white, 0.12)};
  --card-bg-color: #{white};
  --h-color: #{$blurple};
  --text-color: #{$dark-gray};
  --link-color: #{$blue};
  --shadow-color: #{transparentize($dark-gray, 0.82)};
  --danger-color: #{$red};
  --help-color: #{$red};
  --accent-color: #{$blurple};
  --accent-color-light: #{transparentize($blurple, 0.92)};
  --footer-color: #{$darker-blue};
  --secondary-footer-color: #{$dark-blue};
  --alert-success-text: #{white};
  --alert-success-bg: #{$teal};
  --alert-warning-text: #{darken($gold, 65%)};
  --alert-warning-bg: #{$gold};
  --alert-danger-text: #{darken($red, 18%)};
  --alert-danger-bg: #{lighten($red, 36%)};
  --alert-primary-text: #{darken($blue, 18%)};
  --alert-primary-bg: #{lighten($blue, 42%)};
}

:root[data-theme="dark"] {
  --bg-color: #{$darkest-gray};
  --bg-color-darker: #{darken($darkest-gray, 5%)};
  --nav-bg: #{transparentize($darkest-gray, 0.12)};
  --card-bg-color: #{$darker-gray};
  --h-color: #{$bright-blurple};
  --text-color: #{$off-white};
  --link-color: #{lighten($blue, 6%)};
  --shadow-color: #{transparentize(black, 0.82)};
  --danger-color: #{$red};
  --help-color: #{$red};
  --accent-color: #{$bright-blurple};
  --accent-color-light: #{transparentize($bright-blurple, 0.92)};
  --footer-color: #121414;
  --secondary-footer-color: rgb(21, 23, 23);
  --alert-success-text: #{$darkest-gray};
  --alert-success-bg: #{$teal};
  --alert-warning-text: #eac97a;
  --alert-warning-bg: #{$dark-gray};
  --alert-danger-text: #{lighten($red, 32%)};
  --alert-danger-bg: #{darken($red, 26%)};
  --alert-primary-text: #{lighten($blue, 32%)};
  --alert-primary-bg: #{darken($blue, 26%)};
}
