$teal: #23ba9b;
$gold: #fff3cd;
$red: #F25833;
$blue: #0093f4;
$light-blue: #99d4ff;
$dark-blue: #173154;
$darker-blue: #0e274d;
$off-white: #f3f2f2;
$dark-gray: rgb(36, 38, 38);
$darker-gray: rgb(36, 39, 40);
$darkest-gray: rgb(26, 29, 30);
$blurple: #6172BD;
$bright-blurple: #8989fa;

// brands
$discord: #768bd4;
$patreon: #FF424D;
$twitter: #4ba1ec;
$ko-fi: #FBAA19;
