// colors
$blue: #11b9f4;
$teal: #23ba9b;
$green: #1FBA6D;
$yellow: #F2DC33;
$red: #F25833;
$dark-blue: #22313F;
$off-white: #F4F4F4;
$dark-gray: #202020;

// other
$padding-lg: 40px;
$padding-md: 20px;
$padding-sm: 10px;
$padding-xs: 5px;