h1, p {
  margin-bottom: $padding-md;

  &:last-child {
    margin-bottom: 0;
  }
}

#welcome {
  padding-top: $padding-lg;
  padding-bottom: 0;
}

#mods {
  padding-top: $padding-lg - $padding-sm;
  padding-bottom: $padding-lg - $padding-sm;

  [class^="col"] {
    margin: {
      top: $padding-sm;
      bottom: $padding-sm;
    }
  }
}

#contact {
  background-color: var(--bg-band-overlay);
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
}