body {
  background-color: var(--bg-color);
  position: relative;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  @include pb-only($padding: $padding-md);
}

div.container-fluid {
  @include py($padding: $padding-lg)
}

a.btn {
  margin-top: $padding-lg;
  text-decoration: none;
}

a.btn-outline-primary, a.btn-outline-primary:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  text-decoration: none;
}

a.btn-outline-primary:hover {
  @extend %gradient;
  color: var(--text-color);
  border-style: none;
  text-decoration: none;
}