body {
  background-color: var(--bg-color);
  position: relative;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  @include pb-only($padding: $padding-md);
}

div.container-fluid {
  @include py($padding: $padding-lg)
}