body {
  background-color: var(--bg-color);
  position: relative;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a.btn, a.btn-outline-primary, a.btn-outline-primary:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  text-decoration: none;
}

a.btn-outline-primary:hover {
  @extend %default-gradient;
  color: var(--text-color);
  border-style: none;
  text-decoration: none;
}

.status-success {
  background-color: var(--success-color);
  color: var(--text-color);
}

.status-warning {
  background-color: var(--warning-color);
  color: var(--bg-color);
}

.status-danger {
  background-color: var(--danger-color);
  color: var(--text-color);
}

span.unbold {
  font-weight: normal;
}

span.important {
  font-weight: bold;
  color: var(--danger-color);
}

p.disclaimer {
  font-size: 14px;
}