#mod-previews {
  .banded {
    background-color: var(--bg-band-overlay);
  }

  .mod-preview {
    max-width: 100%;

    img {
      max-width: 250px;
      width: 90%;
      height: auto;
      border-radius: 10%;
    }

    @media (max-width: 768px) {
      img {
        margin-bottom: $padding-lg;
      }
    }
  }
}