@mixin gradient($bottom, $top, $fallback) {
  background-color: $fallback;
  background-image: linear-gradient(45deg, $bottom 0%, $top 100%);
}

@mixin pb-only($padding) {
  padding: 0;
  margin: 0 0 $padding 0;

  &:last-child {
    margin: 0;
  }
}

@mixin px($padding) {
  padding: {
    left: $padding;
    right: $padding;
  };
}

@mixin py($padding) {
  padding: {
    top: $padding;
    bottom: $padding;
  };
}

@mixin mx($margin) {
  margin: {
    left: $margin;
    right: $margin;
  };
}

@mixin my($margin) {
  margin: {
    top: $margin;
    bottom: $margin;
  };
}