html {
  --bg-color: #{$off-white};
  --text-color: #{$dark-gray};
  --link-color: #{$teal};
  --link-hover-color: #{$teal};
  --h-color: #{$blue};
  --button-color: #{$blue};
  --bg-band-overlay: #{rgb(0, 0, 0, 0.05)};
  --text-highlight-color: #{rgb(0, 0, 0, 0.15)};
  --shadow-color: #{rgb(32, 32, 32, 0.15)};
  --success-color: #{$green};
  --warning-color: #{$yellow};
  --danger-color: #{$red};
}