// colors
$blue: rgb(90, 182, 252);
$teal: #1FBAAE;
$green: #1FBA6D;
$yellow: #F2DC33;
$red: #F25833;
$dark-blue: rgb(29, 36, 46);
$off-white: #f5f5f5;
$dark-gray: #202020;

// other
$padding-lg: 40px;
$padding-md: 20px;
$padding-sm: 10px;
$padding-xs: 5px;