// colors
$blue: #5AB6FC;
$teal: #1FBAAE;
$green: #1FBA6D;
$yellow: #F2DC33;
$red: #F25833;
$dark-blue: #1D242E;
$off-white: #F5F5F5;
$dark-gray: #202020;

// other
$padding-lg: 40px;
$padding-md: 20px;
$padding-sm: 10px;
$padding-xs: 5px;