// colors
$blue: #24B3FF;
$teal: #1FBAAE;
$green: #1FBA6D;
$yellow: #F2DC33;
$red: #F25833;
$off-white: #E3E3E3;
$dark-blue: #0D3043;

// other
$padding-lg: 40px;
$padding-md: 20px;
$padding-sm: 10px;
$padding-xs: 5px;