@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap");
html {
  --bg-color: #F5F5F5;
  --text-color: #202020;
  --link-color: #1FBAAE;
  --link-hover-color: #1FBAAE;
  --h-color: #5AB6FC;
  --button-color: #5AB6FC;
  --button-text-color: #F5F5F5;
  --hr-color: rgba(90, 182, 252, 0.5);
  --bg-band-overlay: rgba(0, 0, 0, 0.05);
  --text-highlight-color: rgba(90, 182, 252, 0.15);
  --shadow-color: rgba(32, 32, 32, 0.15);
  --success-color: #1FBA6D;
  --warning-color: #F2DC33;
  --danger-color: #F25833;
  --light-color: #F5F5F5;
  --dark-color: #202020;
}

a.btn-outline-primary:hover {
  background-color: #5AB6FC;
  background-image: linear-gradient(45deg, #5AB6FC 0%, #1FBAAE 100%);
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--text-color);
}

a, a:focus {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--h-color);
  font-weight: bold;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

body {
  background-color: var(--bg-color);
  position: relative;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

hr {
  background-color: var(--hr-color);
  height: 2px;
  border-radius: 1px;
  border: 0;
}

a.btn, a.btn-outline-primary, a.btn-outline-primary:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  text-decoration: none;
}

a.btn-outline-primary:hover {
  color: var(--button-text-color);
  border-style: none;
  text-decoration: none;
}

.status-success {
  background-color: var(--success-color);
  color: var(--light-color);
}

.status-warning {
  background-color: var(--warning-color);
  color: var(--dark-color);
}

.status-danger {
  background-color: var(--danger-color);
  color: var(--light-color);
}

span.unbold {
  font-weight: normal;
}

span.important {
  font-weight: bold;
  color: var(--danger-color);
}

p.disclaimer {
  font-size: 14px;
}

#home-page h1, #home-page p {
  margin-bottom: 20px;
}
#home-page h1:last-child, #home-page p:last-child {
  margin-bottom: 0;
}
#home-page #welcome {
  padding-top: 40px;
  padding-bottom: 0;
}
#home-page #mods {
  padding-top: 30px;
  padding-bottom: 30px;
}
#home-page #mods [class^=col] {
  margin-top: 10px;
  margin-bottom: 10px;
}
#home-page #contact {
  background-color: var(--bg-band-overlay);
  padding-top: 40px;
  padding-bottom: 40px;
}

#mod-page {
  padding-top: 40px;
  padding-bottom: 40px;
}
#mod-page .header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
#mod-page .header span.date {
  white-space: nowrap;
}
#mod-page .header .status-bar {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#mod-page .image-display .img-col {
  padding: 10px;
}
#mod-page .image-display img {
  width: 100%;
  border-radius: 10px;
}
#mod-page .description {
  margin-top: 10px;
  margin-bottom: 20px;
}
#mod-page .description span.base-game {
  color: var(--success-color);
}
#mod-page .description span.packs-required {
  color: var(--danger-color);
}
#mod-page .description span.pack {
  font-weight: bold;
}
#mod-page .btn-container {
  width: 100%;
  text-align: center;
}
#mod-page .details {
  padding-top: 40px;
  padding-bottom: 40px;
}
#mod-page .details h2 {
  font-weight: normal;
  margin-bottom: 5px;
}
#mod-page .details ul {
  margin: 0;
}
#mod-page .details .issues {
  margin-top: 40px;
}
#mod-page .details .issues span.fix {
  background-color: var(--text-highlight-color);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#mod-page hr {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
}
#mod-page .terms {
  margin-top: 40px;
  margin-bottom: 40px;
}
#mod-page .terms h6 {
  margin-bottom: 10px;
}
#mod-page .terms li {
  font-size: 16px;
}

.mod-preview {
  background-color: var(--bg-band-overlay);
  border-radius: 10px;
  box-shadow: 0 5px 10px var(--shadow-color);
  position: relative;
  transition: top ease 300ms;
  top: 0;
}
.mod-preview:hover {
  top: -5px;
}
.mod-preview > a, .mod-preview > a:focus {
  color: var(--text-color);
  text-decoration: none;
}
.mod-preview img.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.mod-preview .content {
  padding: 20px;
}
.mod-preview .content h6 {
  margin-bottom: 10px;
}

#page-not-found {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}
#page-not-found h1 {
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
