.mod-fullview {
  padding: {
    top: $padding-lg;
    bottom: $padding-lg;
  }

  .header {
    width: 100%;
    text-align: center;
    margin: {
      top: $padding-lg;
      bottom: $padding-lg;
    }

    span.date {
      white-space: nowrap;
    }

    .status-bar {
      display: inline-block;
      text-align: center;
      border-radius: $padding-xs;
      margin-top: $padding-md;
      padding: {
        left: $padding-md;
        right: $padding-md;
      }
    }
  }

  .image-display {
    .img-col {
      padding: $padding-sm;
    }

    img {
      width: 100%;
      border-radius: $padding-sm;
    }
  }

  .description {
    margin: {
      top: $padding-md - $padding-sm;
      bottom: $padding-md;
    }

    span.base-game {
      color: var(--success-color);
    }

    span.packs-required {
      color: var(--danger-color);
    }

    span.pack {
      font-weight: bold;
    }
  }

  .btn-container {
    width: 100%;
    text-align: center;
  }

  .details {
    padding: {
      top: $padding-lg;
      bottom: $padding-lg;
    }

    h2 {
      font-weight: normal;
      margin-bottom: $padding-xs;
    }

    ul {
      margin: 0;
    }

    .issues {
      margin-top: $padding-lg;

      span.fix {
        background-color: var(--text-highlight-color);
        border-radius: $padding-sm;
        padding: {
          left: $padding-sm;
          right: $padding-sm
        }
      }
    }
  }

  hr {
    width: 80%;
    margin: {
      top: 0;
      bottom: 0;
    }
  }

  .terms {
    margin: {
      top: $padding-lg;
      bottom: $padding-lg;
    }

    h6 {
      margin-bottom: $padding-sm;
    }

    li {
      font-size: 16px;
    }
  }
}