.mod-fullview {
  padding: {
    top: $padding-lg;
    bottom: $padding-lg;
  }

  .header {
    width: 100%;
    text-align: center;
    margin: {
      top: $padding-lg;
      bottom: $padding-lg;
    }

    span.date {
      white-space: nowrap;
    }

    .status-bar {
      display: inline-block;
      text-align: center;
      border-radius: $padding-xs;
      margin-top: $padding-md;
      margin-bottom: $padding-md;
      padding: {
        left: $padding-md;
        right: $padding-md;
      }
    }

    .pack-compatibility {
      &.base-game {
        color: var(--success-color);
      }

      &.packs-required {
        color: var(--warning-color);
      }

      span.pack {
        font-weight: bold;
      }
    }
  }

  .image-display {
    .img-col {
      padding: $padding-sm;
    }

    img {
      width: 100%;
      border-radius: $padding-md;
    }
  }

  .description {
    margin: {
      top: $padding-md + $padding-sm;
      bottom: $padding-md;
    }
  }

  .btn-container {
    width: 100%;
    text-align: center;
  }

  .details {
    padding: {
      top: $padding-lg;
      bottom: $padding-lg;
    }

    h2 {
      font-weight: normal;
      margin-bottom: $padding-sm;
    }

    .issues {
      margin-top: $padding-lg;

      span.fix {
        background-color: var(--bg-band-overlay);
        border-radius: $padding-sm;
        padding: {
          left: $padding-sm;
          right: $padding-sm
        }
      }
    }
  }

  .terms {
    margin-bottom: $padding-lg;

    h6 {
      margin-bottom: $padding-sm;
    }

    li {
      font-size: 16px;
    }
  }
}